.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting {
  width: 100%;
  padding-right: 8px;
  text-align: end;
}

.sorting button {
  font: inherit;
  color: #f0f5f5;
  border: 1px solid #f0f5f5;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.sorting button:hover {
  background-color: #c0a4ebb2;
}
