.comments {
  text-align: center;
  color: white;
}

.comments h2 {
  margin-bottom: 0.6rem;
}

.comments > button {
  padding: 0.3rem 0.6rem;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  background: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}
